.theme--dark .ProseMirror-gapcursor:after {border-color: white}
.theme--dark .v-card__text .ProseMirror{color: hsla(0,0%,100%, 1)}
.theme--dark .top.menu {background-color: #4a4a4a;}
.theme--dark .bubble-menu ,
.theme--dark .top-menu > * {background: black;}
.theme--dark .ez-edit .ProseMirror {background-color: #1e1e1e; border: none;}
.theme--dark .ProseMirror .code-block-info {background-color: #121212;}
.theme--dark .ProseMirror .code-block-info * {background-color: #121212 !important;}
.theme--dark .ProseMirror pre {background-color: #333;color:#fff;}
.theme--dark .menu-bg {background-color: #000;}
.theme--dark .ProseMirror table th,
.theme--dark .ProseMirror table td {border-color: #333;}
.theme--dark .ProseMirror table th {background-color: #121212;}
.theme--dark .hljs {color: #c9d1d9;background: #0d1117;}
.theme--dark .hljs-doctag,
.theme--dark .hljs-keyword,
.theme--dark .hljs-meta .hljs-keyword,
.theme--dark .hljs-template-tag,
.theme--dark .hljs-template-variable,
.theme--dark .hljs-type,
.theme--dark .hljs-variable.language_ {color: #ff7b72;}
.theme--dark .hljs-title,
.theme--dark .hljs-title.class_,
.theme--dark .hljs-title.class_.inherited__,
.theme--dark .hljs-title.function_ {color: #d2a8ff;}
.theme--dark .hljs-attr,
.theme--dark .hljs-attribute,
.theme--dark .hljs-literal,
.theme--dark .hljs-meta,
.theme--dark .hljs-number,
.theme--dark .hljs-operator,
.theme--dark .hljs-variable,
.theme--dark .hljs-selector-attr,
.theme--dark .hljs-selector-class,
.theme--dark .hljs-selector-id {color: #79c0ff;}
.theme--dark .hljs-regexp,
.theme--dark .hljs-string,
.theme--dark .hljs-meta .hljs-string {color: #a5d6ff;}
.theme--dark .hljs-built_in,
.theme--dark .hljs-symbol {color: #ffa657;}
.theme--dark .hljs-comment,
.theme--dark .hljs-code,
.theme--dark .hljs-formula {color: #8b949e;}
.theme--dark .hljs-name,
.theme--dark .hljs-quote,
.theme--dark .hljs-selector-tag,
.theme--dark .hljs-selector-pseudo {color: #7ee787;}
.theme--dark .hljs-subst {color: #c9d1d9;}
.theme--dark .hljs-section {color: #1f6feb;font-weight: bold;}
.theme--dark .hljs-bullet {color: #f2cc60;}
.theme--dark .hljs-emphasis {color: #c9d1d9;font-style: italic;}
.theme--dark .hljs-strong {color: #c9d1d9;font-weight: bold;}
.theme--dark .hljs-addition {color: #aff5b4;background-color: #033a16;}
.theme--dark .hljs-deletion {color: #ffdcd7;background-color: #67060c;}